@charset "utf-8";

/* Theme Color */
.main-header .header-top .top-left ul li span,
.header-style-two .header-top .top-left ul li i,
.social-icon-one li a:hover,
.header-style-two .header-top .top-left ul li:hover a,
.main-header .info-box li a:hover,
.main-header .search-panel .search-btn:hover,
.scroll-to-top:hover,
.main-header .header-top .top-left ul li span,
.feature-block .icon-box,
.news-block .content-box .info li,
.category-list li a:hover,
.feature-block h3 a:hover,
.order-box ul li span,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:hover,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:focus,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:active,
.news-block .content-box .link-box a:hover,
.counter-column .counter-title,
.product-info-tabs .prod-tabs .reviews-container .rating,
.news-block .content-box .info li a,
.blog-detail blockquote:before,
.btn-style-five:hover,
.news-block .inner-box:hover .content-box h3 a,
.projects-section .filters li.active,
.projects-section .filters li:hover,
.service-list li a:hover::after,
.project-tab .tab-btns .tab-btn.active-btn,
.service-list li.active a::after,
.header-style-two .main-menu .navigation > li.current > a,
.header-style-two .main-menu .navigation > li:hover > a,
.project-tab .tab-btns .tab-btn:hover,
.header-style-two .search-box-btn,
.project-block .image-box .overlay-box .content h3 a:hover,
.shop-comment-form .rating-box .rating a:hover,
.page-title .bread-crumb li a:hover,
.testimonial-block .inner-box .designation,
.accordion-box .block .icon-outer,
.about-us .content-column h4 span,
.sidebar .related-posts .rating span,
.sidebar .related-posts .post a:hover,
.service-block-two .icon-box .icon,
.accordion-box .block .icon-outer .icon,
.service-block-two h3 a:hover,
.team-block .social-links li a,
.about-us .video-column .image .link span,
.main-footer .contact-list li span,
.main-footer .contact-list li a:hover,
.shipping-block .inner-box h3,
.consult-box .theme-btn,
.main-footer .links-widget .list li a:hover,
.team-block .inner-box:hover .name,
.cart-table tbody tr .remove-btn:hover,
.accordion-box .block .acc-btn.active,
.btn-style-four,
.cart-section .totals-table .col:last-child,
.cat-list li.active a,
.cat-list li:hover a,
.product-details .basic-details .rating,
.latest-news .post:hover h3 a,
.contact-page-section .contact-info li a:hover,
.cat-list li.active a span,
.sort-by .ui-button .ui-icon,
.cat-list li:hover a span,
.shop-item .lower-content h3 a:hover,
.checkout-page .default-links li a:hover,
.shop-item .lower-content .price,
.checkout-page .default-links li .fa,
.shop-sidebar .search-box .form-group button,
.error-section h2,
.main-footer .footer-bottom .copyright-text a,
.testimonial-section.style-two .owl-nav .owl-prev:hover,
.testimonial-section.style-two .owl-nav .owl-next:hover,
.about-us .content-column .link-box a,
.page-title .bread-crumb li:before,
.page-title .bread-crumb li,
.btn-style-two:hover,
.project-block-two .lower-content h3 a:hover,
.list-style-two li .icon,
.theme_color,
a{
	color: #ff9f14;
}

/*Background Color*/

.header-style-two .main-menu .navigation > li > a:before,
.header-style-two .main-menu .navigation > li > a:after,
.consult-box h4:before,
.sidebar-widget .range-slider-one .ui-state-default,
.sidebar-widget .range-slider-one .ui-widget-content .ui-state-default,
.load-more-option .next a:hover,
.load-more-option .prev a:hover,
.testimonial-carousel .owl-dots .owl-dot,
.sec-title h2:before,
.testimonial-block .thumb:before,
.news-block .image-box .date,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.project-block-two .icon-box a:hover,
.call-to-action .title:Before,
.project-block .icon-box a:hover,
.project-tab .tab-btns .tab-btn:after,
.projects-section .link-box a:hover,
.shop-sidebar .sidebar-title h2:before,
.projects-section .filters li:after,
.service-list li:before,
.main-footer .subscribe-form .form-group input[type="submit"],
.main-footer .subscribe-form .form-group button,
.payment-box .payment-options li .radio-option label .small-text,
.main-footer .footer-column .widget-title:before,
.service-block .lower-content:before,
.services-carousel .owl-dots .owl-dot:hover,
.sidebar-page-container .group-title h2:before,
.services-carousel .owl-dots .owl-dot.active,
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover,
.sidebar-page-container .sidebar-title h2:before,
.main-header .sticky-header .main-menu .navigation > li:hover > a,
.post-share-options .social-links li a:hover,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .sticky-header .main-menu .navigation > li.current-menu-item > a,
.fun-fact-section .title-column .inner-column:before,
.fun-fact-section .title-column .inner-column:after,
.call-back-section .content-column h3:before,
.social-icon-two li a:hover,
.call-back-section .form-column .inner-column,
.main-footer .gallery-widget .image a:before,
.scroll-to-top,
.service-sidebar .link-box a:hover,
.shop-item .overlay-box .icon-box a:hover,
.main-header .main-menu:after,
.main-header .nav-outer,
.main-menu .navigation > li > ul > li  > ul > li > a:hover,
.main-menu .navigation > li > ul > li:hover > a,
.btn-style-five,
.cat-list li:before,
.cart-table .cart-header,
.btn-style-six:hover,
.btn-style-four:hover,
.btn-style-two{
	background-color: #ff9f14;
}


/*Border Color*/

.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.coupon-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="password"]:focus,
.shipping-form .form-group input[type="tel"]:focus,
.shipping-form .form-group input[type="email"]:focus,
.shipping-form .form-group select:focus,
.shipping-form .form-group textarea:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.product-info-tabs .prod-tabs .add-review .form-group textarea:focus,
.product-info-tabs .prod-tabs .add-review .form-group input:focus,
.product-info-tabs .prod-tabs .add-review .form-group select:focus,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.ui-state-active, 
.contact-page-section .contact-info li .icon,
.service-sidebar .link-box a:hover,
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover,
.testimonial-section.style-two .owl-nav .owl-prev:hover,
.testimonial-section.style-two .owl-nav .owl-next:hover,
.sidebar .search-box .form-group input:focus,
.service-block-two .inner-box:before,
.service-block-two .inner-box:after,
.contact-form-two .form-group input:focus,
.contact-form-two .form-group select:focus,
.contact-form-two .form-group textarea:focus,
.fun-fact-section .title-column .inner-column,
.shop-sidebar .search-box .form-group input:focus,
.styled-pagination li a:hover,
.comment-form .form-group input:focus,
.comment-form .form-group textarea:focus,
.styled-pagination li.active a,
.about-us .content-column .link-box a,
.main-footer .subscribe-form .form-group input:focus,
.service-block .lower-content .icon-box .icon,
.service-block .lower-content .icon-box:before,
.service-block .lower-content .icon-box:after,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.btn-style-six:hover,
.btn-style-five:hover,
.btn-style-four:hover,
.btn-style-two{
	border-color: #ff9f14;
}

.main-menu .navigation > li > ul > li > ul,
.main-menu .navigation > li > ul,
.main-header  .dropdown-menu{
	border-top-color: #ff9f14;
}

.payment-box .payment-options li .radio-option label .small-text:before{
	border-bottom-color: #ff9f14;
}



@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#ff9f14;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a,
	.header-style-two.inner-header .main-menu .navigation > li > a{
		background-color:#ff9f14;
	}
	
}